section{
    background: #166F59;
}
.box {
    width:1200px ;
    margin: 0 auto;
}
header p,button,h1,a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    text-decoration-line: none;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration-line: none;
    color: #FFFFFF;
}
header h1 {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.05em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content-top{
    display: flex;
    justify-content: space-around ;
    align-items: center;
}
a {
    text-decoration: none;
    text-decoration-line: none;
}
header { 
    background: #53D29D;
    margin-top: 1px;
    
}
.content-top button{
    margin-left: 85px;
    background-color: #53D29D;
    border-radius: 20px ;
    padding: 9px 15px;
    border: 1px solid #2E512B;
}
.content-top h1 {
    margin-right: 85px;
    cursor: auto;
}
.main{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-family: 'Pontano Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;

}
.online {
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.05em;
}
.server p{
    margin-left:61px;
}
.server p,small {
    display: flex;
    font-size: 20px;
    line-height: 10px;
    text-align:left;
    font-family: 'Pontano Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left:35px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.server img {
    display: flex;
    margin-right: 15px;
    margin-left:35px;
}
.server {
    width: 370px;
    display: flex;
    align-items: center;
    margin-left: 600px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 20px 1px;
    margin-top: 48px;
    
}
.beta img{
    margin-right: 160px;
    margin-left: 7px;
}
footer {
    display: flex;
    justify-content: space-evenly;
    background: #808080;
    text-align: center;
    
}
footer li,p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    
}
footer p {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.05em;
    text-align: center;
}


