body {
    background: #166F59;
    width:1439px ;
    margin: 0 auto;
}
header div {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: 20px;
}
header img {
    margin-left: -50px ;
}
header a{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    text-decoration-line: none;
    text-align: center;
    margin-left: 5px;
    color: #FFFFFF;
}
header p {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
section {
    margin-left: -100px ;
}
.input {
    display: flex;
    justify-content: center;
}
[id^=c]{
    display: none;
}
[id^=c] + label{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;   
    position: relative;
}
[id^=c] + label:before{
    content: '';    
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    -webkit-clip-path: polygon(45% 64%, 84% 14%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
    clip-path: polygon(45% 64%, 84% 14%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .3s;
    transition: transform .3s;
}
[id^=c]:checked + label:before{    
    -webkit-transform: scale(1);
    transform: scale(1);
}
.center h1 {
    font-family: 'Helvetica Now Text ';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
    margin-left: 6 0px;
}
form {
	display: block;
	padding: 50px;
	width: 100%;
	color: white;
	margin-right: auto;
	margin-left: auto;
}

form input {
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	margin-left: 40%;
	width: 23%;
	height: 15px;
	
}
.button {
	width: 24%;
	font-size: 14pt;
	color: white;
	background: #7F113E;
	height: 55px;
	padding: 10px;
    border: none;	
}
.button:hover {
	border: 1px solid white;
}
.me {
    display: flex;
    justify-content: center;
    align-items: center;
}
input .button {
    padding: 132135px 6232130px;
}